*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-color: rgba(190, 188, 188, 0.745);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

nav{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 2px 1px 2px #acababe4;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    display: flex;
    text-align: center;
    gap: 13px;
    cursor: pointer;
    
}
.logo img{
    width: 40px;
    height: 40px;
}
.search{
    display: flex;
   border-radius: 10px;
    background-color: rgba(237, 235, 235, 0.721);
    padding: 3px;
    gap:10px;
}
.search img{
    width: 20px;
    height: 20px;
    margin: 7px 5px;
   
}
.search input{
    height: 30px;
    border: none;
    background-color: rgba(245, 242, 242, 0.489);
    font-size: 18px;
    margin:3px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    display:flex;
    margin: 5px 8px;
}
ul li a{
    text-align: center;
    text-decoration: none;
    display: flex;
    padding-top: 8px;
    color:rgb(71, 70, 70);
}
ul li  img{
    width: 30px;
    cursor: pointer;
}
.user-icon img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
}
/* ------------sidebar start ----------------------  */
.container{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.sidebar{
    height: 100vh;
    width: 20%;
    margin-left: 45px;
    /* overflow-y: scroll;    */
    position: sticky;

}

#user{
    width: 100%;
    height: 350px;
    background-color: white;
}
.user{
    width: 100%;
    border: 1px solid black;
    background-image: url(images/cover-pic.png);
    background-position: center;
    background-size: cover;
    height: 100px;
    border: none;
    
}
.back-img{
width: 30px;
height: 30px;
}
.back-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    top: 65px;
    left: 20px;
}
.info{
    padding-left:15px;
    font-weight: bold;

}
h3{
    font-size: 25px;
}
.info p{
    color: rgb(101, 99, 99);
    font-size: 15px;
}
.profile-info{
    padding-left:15px;
    color: rgb(101, 99, 99);
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0;
}
.profile-info p{
    padding:5px 15px;

}
.profile-info p span{
    float: right;
    padding-inline: 20px;
    
}
.primium{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.line{
    height: 45px;
    border: 1px solid gray;
    margin-top: 4px;
}
.primium img{
    width:20px;
    margin-top: -5px;

}
.primium li{
    color: rgb(101, 99, 99);
    gap:10px;
    margin-top:15px;
    font-size: 15px;
    font-weight: 600;

}
.recent{
    background-color: white;
}
.recent h4{
    padding: 10px 20px;
    color:rgb(101, 99, 99) ;
}
.recent ul  {
    flex-direction: column;
}
.recent ul li a{
    text-transform: capitalize;
    margin-left: 10px;
    color: rgb(101, 99, 99);
    font-weight: 600;
    font-size: 15px;
}
.recent ul li img{
    width: 25px;
}
.discover{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.discover a{
   color:rgb(101, 99, 99);
    text-decoration: none;
}
/* --------------center---------------- */

.center{
width: 45%;
margin-left: 10px;
position: sticky;
    
}
.post{
    width: 100%;
    background-color: white;
}
.user-post{
    display: flex;
    padding: 10px;

}

.post img{
    width:50px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
}
.post input{
    width: 480px;
    border-radius: 40px;
    border: 1px solid gray;
}
.media {
    display: flex;
    border-top: 1px solid gray;
}
.media div{
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.media div img{
    width: 30px;
}
.hr{
width: 1px;
height: 40px;
border: 1px solid gray;
}

.post button{
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 30%;
}
.user-center{
    background-color: white;
} 
.user-1{
  display: flex;
  padding:15px 3px;
}
.user-1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.user-1 div{
    margin-left: 10px;
}
.user-1 div p{
    color:rgba(101, 99, 99, 0.808) ;
    font-size: 15px;
    font-weight: bold;
}

.user-post-1 img{
    width: 100%;
    padding-inline:20px;
    
}
.user-post-1 p{
    padding: 0 20px;
}
/* -----------right side ------------*/

.right-side{
    width: 25%;
    margin-inline:30px;
    /* position:sticky;
    top: 70px; */
}

.trending{
    background-color: white;
    padding: 6px;
}
.trending h3{
    color:rgb(101, 99, 99);
}

.trending ul{
    flex-direction: column;
}
.trending ul li{
    flex-direction: column;
    color: rgb(122, 118, 118);
    font-weight: bold;
    font-size: 18px;
}
.trending ul li p{
    color:rgba(101, 99, 99, 0.747);
    font-size: 14px;
}
.trending a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(80, 80, 191, 0.836);
    padding: 8px;
}

.ad{
    background-color: white;
    text-align: center;
    color:rgba(101, 99, 99, 0.747) ;
    font-weight: 600;
    padding: 10px;
    line-height: 40px;
    margin-top: 18px;
}
.ad span{
    float: right;
    margin-right: 30px;
}
.ad img{
    width: 50px;
    border-radius: 50%;
}
.ad button{
    width: 120px;
    padding:10px;
    font-weight: 600;
    color:rgb(74, 72, 72) ;
    border-radius: 40px;
    border:2px solid gray;
}
.link{
    text-align: center;
    padding: 5px;
    line-height: 30px;
}
.link a{
    color:rgb(101, 99, 99);
    text-decoration: none;
    font-weight: 600;
    padding: 1px;

}
.link p{
    display: flex;
    font-size: 14px;
    color: rgba(78, 77, 77, 0.9);
   
}
.link p img{
    width: 40px;
    margin-right: 5px;
}




